<div class="col-md-4">
    <div class="card card-chart">
      <div class="card-header card-header-danger">
        <div class="ct-chart" id="dailySalesChart">שיחות ממתינות וזמן המתנה</div>
      </div>
      <div class="card-body">
        <table id="openConversations" border="1" >
          <tr>
              <th>שעה</th>
              <th>שיחות ממתינות</th>
              <th>זמן המתנה</th>
          </tr>
      </table>
      </div>
      <div class="card-footer">
        <div class="stats">
          <i class="material-icons">access_time</i> updated 4 minutes ago
        </div>
      </div>
    </div>
  </div>


  <script>
    // startConv();
    // function startConv() {
    //         for (let i = 0; i < 10; i++) {
          
    //         var tr = document.getElementById('openConversations').insertRow();
    //         var chour = tr.insertCell(0);
    //         var cCalls_waiting= tr.insertCell(1);
    //         var cStandby_time = tr.insertCell(2);
            
            
    //         chour.innerHTML = "18:05";
    //         cCalls_waiting.innerHTML = 12;
    //         cStandby_time.innerHTML = 15.23;

    //         }
        
    // }

</script>