<div class="col-md-4">
    <div class="card card-chart">
      <div class="card-header card-header-danger">
        <div class="ct-chart" id="dailySalesChart">מדדים סיכומיים</div>
      </div>
      <div class="card-body">
        <table id="totalcalls" border="1" >
          <tr>
              <th>שיחות הצטרפות</th>
              <th>שיחות תלונה</th>
              <th>בקשות ניתוק</th>
          </tr>
      </table>
      </div>
      <div class="card-footer">
        <div class="stats">
          <i class="material-icons">access_time</i> updated 4 minutes ago
        </div>
      </div>
    </div>
  </div>


  <script>
    // var tr = document.getElementById('totalcalls').insertRow();
    //         var chour = tr.insertCell(0);
    //         var cCalls_waiting= tr.insertCell(1);
    //         var cStandby_time = tr.insertCell(2);
    // setData();
    // function setData() {
            
    //         chour.innerHTML = 4;
    //         cCalls_waiting.innerHTML = 2;
    //         cStandby_time.innerHTML = 7;
        
    // }

</script>